= form_for [structure.becomes(Structure), campaign] do |f|
  - if campaign.errors.any?
    .alert.alert-danger
      %h3.h4 Merci de corriger les erreurs ci-dessous
      %ul.list
        - campaign.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-md-6
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'

      .form-group
        = f.label :description
        = f.text_field :description, class: 'form-control'

      .form-group
        = f.label :start_at
        = f.datetime_field :start_at, class: 'form-control', type: 'datetime-local', value: ldate(campaign.start_at, format: :default)

      .form-group
        = f.label :end_at
        = f.datetime_field :end_at, class: 'form-control', type: 'datetime-local', value: ldate(campaign.end_at, format: :default)

    .col-md-6
      %h3 Pouvoirs
      %table.table
        %thead
          %tr
            %th Qui
            %th donne à qui
            %th

        %tbody#powers
          = f.fields_for :powers do |ff|
            = render 'power_fields', :f => ff


      .form-group
        = link_to_add_association f, :powers, class: "btn btn-sm btn-primary", data: {"association-insertion-node" => "tbody#powers", "association-insertion-method" => "append"} do
          = icon 'fa', "plus"
          Ajouter une procuration


    .col-md-12
      %h3 Motions
      %table.table
        %thead
          %tr
            %th Ordre
            %th Nom
            %th Type
            %th
        %tbody#motions
          = f.fields_for :motions do |ff|
            = render 'motion_fields', :f => ff

      .form-group
        = link_to_add_association f, :motions, class: "btn btn-sm btn-primary", data: {"association-insertion-node" => "tbody#motions", "association-insertion-method" => "append"} do
          = icon 'fa', "plus"
          Ajouter une motion


  .float-right
    %button.btn.btn-primary{type: :submit}
      Enregistrer
